{
  "presets": [
    "react",
    "stage-3"
  ],
  "env": {
    "development": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-runtime",
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            }
          }
        ]
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
